/* Sidebar.css */

.sidebar-container {
    height: 85vh; 
    overflow-y: auto; 
    color: #fff; /* Text color to match the theme */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #262D47; /* For Firefox */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.sidebar-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.sidebar-container::-webkit-scrollbar-track {
    background: #262D47; /* Background of the scrollbar track */
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #262D47; /* Scrollbar thumb color */
    border-radius: 10px; /* Round edges of the scrollbar thumb */
    border: 2px solid #262D47; /* Optional border around the scrollbar thumb */
}


.sidebar-content {
    height: auto; /* Automatic height to fit the content */
}
 