/* Sidebar.css */

.sidebar-container {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    color: #fff; /* Text color to match the theme */
}

.sidebar-content {
    height: auto; /* Automatic height to fit the content */
}
